*{
    font-weight: bold;
}
#side_menu{
    padding-top: 100px;
    padding-bottom: 100%;
    padding-left: 10px;
    background-color:black;
    width:17%;
    position:fixed;
    z-index: 9999;
}
#side_menu a{
    transition: 200ms;
    text-decoration: none;
    color:gray;
    margin-left:20px;
}
#side_menu a:hover{
    color:white;
    font-size: 110%;
}
