.name{
  color:white;
  font-size: 60px;
}
label{
  color: white;
}
.alterar_nome{
  width:100px;
  float: left;
  width: auto;
  margin-right: 20px;
}
.alterar_nome:hover{
  color:white;
  cursor: pointer;
}
#nome_input{
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  color:white;
  font-size: 60px;
}
.deletar_usuario{
  color:red;
  float:right;
  margin-right:20px;
}
.deletar_usuario:hover{
  color:white;
  cursor: pointer;
}
.password_warning{
  color:red;
}
