<section class="center_main_section">
  <h1 class="titulo">Crie a sua conta</h1>
  <form class="default_form" (ngSubmit)="criarConta()">
    <label class="aviso_conta_info" *ngIf="aviso != ''">{{aviso}}</label>
    <br>
    <br>
    <label>Nome</label>
    <br>
    <input [(ngModel)]="user_name" name="user_name" placeholder="nome">
    <br>
    <br>
    <label>Email</label>
    <br>
    <input [(ngModel)]="email" name="email" placeholder="exemplo@email.com">
    <br>
    <br>
    <label>Senha</label>
    <br>
    <input [(ngModel)]="password" name="password" placeholder="**************">
    <br>
    <br>
    <br>
    <button type="submit">Criar Conta</button>
  </form>
</section>
