<section class="center_main_section">
  <h1 class="titulo">Login</h1>
  <div class="criar_conta_form">
    <br>
    <label class="criar_conta_label">Email</label>
    <br>
    <input class="form_input" [(ngModel)]="email" name="email" placeholder="exemplo@email.com">
    <br>
    <br>
    <label class="criar_conta_label">Senha</label>
    <br>
    <input type="password" class="form_input" [(ngModel)]="password" name="password" placeholder="**************">
    <br>
    <br>
    <br>
    <label class="criar_botao" (click)="logar()">Entrar</label>
  </div>
</section>
