<section class="center_main_section">
    <div class="deletar_playlist" (click)="deletarMusica()">
      Deletar Musica
    </div>
    <div *ngIf="editar_nome == false" class="playlist_name">{{music.name}}</div>
    <div *ngIf="editar_nome == true" class="playlist_name">
      <form class="default_form" (ngSubmit)="salvarNome()">
        <input id="nome_input" [(ngModel)]="music.name" name="playlist.name">
      </form>
    </div>
    <div *ngIf="editar_nome == false" class="alterar_nome"  (click)="editarNome()">Alterar nome</div>
    <div *ngIf="editar_nome == true" class="alterar_nome" (click)="salvarNome()">Salvar</div>
    <div *ngIf="editar_nome == true" class="alterar_nome" (click)="cancelarNome()">Cancelar</div>
    <br>
    <br>
    <div class="add_para_playlist" (click)="addParaPlaylist()">
      Adicionar à uma playlist
    </div>
</section>
