* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    margin:0;
    background-color:rgb(29,29,29);
}
.container {
    display: flex;
    flex-direction: row;
}
a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}
#div_main{
    width:500px;
    padding: 50%;
}
.center_main_section{
  margin-left: 19%;
  margin-top: 82px;
}
/*                                                                          default form*/
.default_form input{
  transition:500ms;
  width:70%;
  height:30px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  color:white;
}
.default_form input:hover{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
}
.default_form label{
  color:white;
}
.default_form button{
  transition: 200ms;
  padding:20px;
  background: none;
  background-color: black;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.default_form button:hover{
  color: white;
  background-color: rgb(43, 43, 43);
}
/*                                                                          default form*/
