@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    margin:0;
    background-color:rgb(29,29,29);
}
.container {
    display: flex;
    flex-direction: row;
}
a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}
#div_main{
    width:500px;
    padding: 50%;
}
.center_main_section{
  margin-left: 19%;
  margin-top: 82px;
}
/*                                                                          default form*/
.default_form input{
  transition: 200ms;
  width:70%;
  height: auto;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
  color:white;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(77, 77, 77)
}
.default_form input:focus{
  border-color: white
}
.default_form input:hover{
  border-color: white;
}
.default_form label{
  color:white;
}
.default_form button{
  transition: 200ms;
  padding:20px;
  background: none;
  background-color: black;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 5px;
}
.default_form button:hover{
  color: white;
  background-color: rgb(43, 43, 43);
}
/*                                                                          default form*/
/*----------------------------------------------------------------------------editar dados*/
.playlist_name{
  color:white;
  font-size: 60px;
}
.alterar_nome{
  float: left;
  width: auto;
  margin-right: 20px;
}
.alterar_nome:hover{
  color:white;
  cursor: pointer;
}
#nome_input{
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  color:white;
  font-size: 60px;
}
.deletar_playlist{
  color:red;
  float:right;
  margin-right:20px;
}
.deletar_playlist:hover{
  color:white;
  cursor: pointer;
}
.add_para_playlist:hover{
  cursor: pointer;
  color: white;
}
