<nav>
    <ul class="topnav">
        <div *ngIf="logged_in == false">
          <li><a (click)="goToLogin()">Entrar</a></li>
          <li><a (click)="goToInscrever()">Inscrever-se</a></li>
        </div>
        <div *ngIf="logged_in == true">
          <li><a (click)="goToMinhaConta()">Minha conta</a></li>
        </div>
        <li><a href="#" style="color:white;font-weight: normal;">|</a></li>
        <li><a href="#" value="Baixar">Baixar</a></li>
        <li><a (click)="checkEmailHaHa()">Suporte</a></li>
        <li><a href="#" value="Premium">Premium</a></li>
    </ul>
</nav>


